.idea/**
jenkins/jenkins_deploy/jenkins_home**
../../.DS_Store
../
../../docker/.DS_Store
../../docker/entrypoint_dockerfile/db_data/
../../docker/entrypoint_dockerfile/logs/
../../docker/flask_docker_build/.DS_Store
../../docker/logs_dockerfile/logs/
../../docker/storage_dockerfile/data/
../../jenkins/jenkins_deploy/agent.jar
../../terraform/terraform_example/.terraform/
devops_program/l_14_15_terraform/lesson_14/tf-demo/ex2/dev/my-new-service-terru/.terragrunt-cache/*
.terraform/
.terragrunt-cache/
docker/entrypoint_dockerfile/db_data/*
.DS_Store
# Ignore all .terraform directories
**/.terraform/

# Ignore Terraform state files
*.tfstate
*.tfstate.backup

# Ignore Terraform plan files
*.tfplan

# Ignore sensitive variable files
*.tfvars
*.tfvars.json

# Ignore provider cache
.terraform.lock.hcl
